@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&family=Lora:wght@400;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&family=Lora:wght@400;700&family=Montserrat:wght@700&family=Sora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

@theme {
  /* Colors */
  --color-primary: #0AADD2;
  --color-lightPrimary : #1FB5DA;
  --color-darkPrimary : #0899B8;
  --color-golden: #D4AF37;

  /* Font Families */
  --font-sora: 'Sora', sans-serif;
  --font-lexury: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-lora: 'Lora', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

 @keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 1.5s ease-in-out infinite; 
}